@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border;
  }

  h1 {
    @apply text-4xl font-bold md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl font-bold md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-lg font-bold lg:text-xl;
  }

  p {
    @apply text-base;
  }

  ul li {
    @apply text-base font-medium;
  }

  a {
    @apply inline-block text-base;
  }
}

.MuiFormLabel-root {
  color: #000000 !important;
}

.MuiButton-outlined {
  font-family: 'inter' !important;
  text-transform: none !important;
  border-color: #2f3940 !important;
  color: #2f3940 !important;
  font-weight: 700 !important;
  height: 48px !important;
}
.MuiButton-outlined:hover {
  color: #708ef4 !important;
  border-color: #708ef4 !important;
  background-color: #ffffff !important;
}

.MuiButton-contained {
  font-family: 'inter' !important;
  text-transform: none !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  background-color: #2f3940 !important;
  box-shadow: none !important;
  height: 48px !important;
}
.MuiButton-contained:hover {
  background-color: #708ef4 !important;
}
.MuiCustomButton-delete {
  background-color: #e0303b !important;
}

.MuiCustomButton-delete:hover {
  background-color: #b11b24 !important;
}
.MuiTooltip-tooltip {
  font-family: 'inter' !important;
  font-weight: 600 !important;
  color: #2f3940 !important;
  background-color: #ffd333 !important;
  padding: 8px 12px !important;
  font-size: 0.75rem !important;
  line-height: 1.4em !important;
  border: none !important;
}
.MuiTooltip-arrow {
  color: #ffd233 !important;
}
